body {
    background-color:darkgray;
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

#inputText {
    display: block;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: inherit;
    text-align: center;
    margin-inline: auto;
}

.buttons {
    width: max-content;
    margin-inline: auto;
    margin-top: 50px;
}

button {
    width: 100px;
    height: 50px;
    font-size: inherit;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

#addBtn {
    background-color: rgb(0, 201, 0);
}

#addBtn:hover {
    background-color: rgb(0, 255, 0);
}

#deleteBtn {
    background-color: rgb(208, 0, 0);
}

#deleteBtn:hover {
    background-color: rgb(255, 0, 0);
}

ul {
    width: 80vw;
    padding: 0;
    margin-inline: auto;
    margin-top: 100px;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 20px;
}

ul li input {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}